@page
@using pasajeApp.Utilidades
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-12 col-md-6 col-lg-4" style="margin-top: 5px">
        <div class="border rounded p-4 bg-light shadow-sm">
      
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2 class="text-center">Crear una nueva cuenta</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger text-center" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Correo Electrónico</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="contraseña" />
                    <label asp-for="Input.Password">Contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="contraseña" />
                    <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" class="form-control" placeholder="Nombre completo" />
                    <label asp-for="Input.Name">Nombre Completo</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Edad" class="form-control" placeholder="Edad" />
                    <label asp-for="Input.Edad">Edad</label>
                    <span asp-validation-for="Input.Edad" class="text-danger"></span>
                </div>
            
                <!-- Selector de Roles -->

                @if (User.IsInRole(ROL.Administrador))
                {
                <div class="form-group mb-3">
                    <h4 class="text-light">Seleccionar Rol de Usuario</h4>
                    <div class="form-check">
                        <input type="radio" id="rolAdministrador" name="radUsuarioRole" value="@ROL.Administrador" class="form-check-input">
                        <label for="rolAdministrador" class="form-check-label text-dark">@ROL.Administrador</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="rolRegistrado" name="radUsuarioRole" value="@ROL.Registrado" class="form-check-input" style="">
                        <label for="rolRegistrado" class="form-check-label text-dark">@ROL.Registrado</label>
                    </div>
                </div>
                }

                @if (User.IsInRole(ROL.Registrado))
                {
                    <div class="form-group mb-3">
                        <h4 class="text-light">Seleccionar Rol de Usuario</h4>
                        <div class="form-check">
                            <input type="radio" id="rolAdministrador" name="radUsuarioRole" value="@ROL.Administrador" class="form-check-input">
                            <label for="rolAdministrador" class="form-check-label text-dark">@ROL.Administrador</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" id="rolRegistrado" name="radUsuarioRole" value="@ROL.Registrado" class="form-check-input" style="">
                            <label for="rolRegistrado" class="form-check-label text-dark">@ROL.Registrado</label>
                        </div>
                    </div>
                } 

                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary btn-unificado">Registrar</button> <!-- Clase btn-unificado -->
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
